* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:rgba(24, 22, 22, 0.8);
}

.container {
    font-family: 'Roboto', sans-serif;
   
}

.box{
    width:1000px;
    height: 500px;
    background-color: #fff;
    border-radius: 4px;
    margin: 40px auto;
    display: flex;
    flex:9999;

}


.left {

    flex:2

}

.right{
    flex:1

}

.member {
    width:550px;
    padding-top: 20px;
    margin: 20px auto;
}

.heading-text{
    font-size: 35px;
    margin-bottom: 10px;
}

.heading-paragraph {
    color: rgb(151, 148, 148);
    /* font-weight: bolder; */
}

.social-tabs {
    margin-top: 50px;
}

.social {
    display: flex;
    width:550px;
    height: 50px;
    margin: 20px auto;
    text-decoration: none;
    align-items: center;
    text-transform: uppercase;
    padding-left: 20px;
    outline: 1px dotted rgb(233, 230, 230);
    color: rgb(124, 123, 123);
}

.social-text {
    margin-left: 180px;
    font-weight: bolder;
    
    
}

.social-text span {
    font-family:monospace;
    font-size: 18px;
   

}


.social:hover {
    box-shadow: 1px 1px 1px 1px rgba(14,21,47, .2);
    color: #000;
    
    
}



aside {
    height: 450px;
    width:350px;
}

.img-right {
    height: 500px;
    width:350px;
}

footer {
    display: flex;
    margin-top: 70px;
    
}
.footer-text {
    margin-left: 50px;
    font-weight: bold;
}

.footer-link {
    text-decoration: none;
    margin-left: 95px;
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(107, 105, 105);

}

.footer-link:hover {
    color:#000;
}