* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/background.jpg);
    background-size: cover;
    font-family: sans-serif;
}

.box{
    width: 300px;
    height: 350px;
    background: #fff;
    border-radius: 4px;
    margin: 100px auto;
    text-align: center;
}


.dott {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    
    
}



.dot {
    height: 10px;
    width: 10px;
    background-color:#ccc;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    /* display: inline-block; */
   
  }

  .dot1 {
    background-color: rgb(119, 114, 114);

}


.pay{
    display: flex;
    text-decoration: none;
    widows: 33.33%;
    padding: 20px;
    margin-right: 10px;
    flex: 1;
    border-top: 2px solid rgba(226, 220, 220, 0.4);
}


.pay:hover {
    background: rgb(248, 245, 245);
}

h4{
    margin-left: 10px;
    color:#ccc;
}

.black{
    color: #000 ;
}




h2{
    margin-bottom: 20px;
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 20px;
}


.next_step {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    background:rgb(78, 78, 211);
    /* width: 300px; */
    height: 52px; 
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.img_item0 {
    margin-left: 5px; 
}

.img_item00 {
    margin-left: auto;
}

