* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 226, 232);
    font-family: Roboto, sans-serif;
}


.box{

    width: 850px;
    height: 500px;
    background-color: #fff;
    margin: 20px auto;
    display: flex;
    flex:9999;
}


.left{
    height: 500px;
    width: 500px;
    background-image: url(img/background.jpg);
    background-size:100% 100%;
    flex:1;
}


.back-text {
    display: flex;
    margin: 20px;
    align-items: center;
    text-decoration: none;
    text-transform:uppercase;
    color:rgb(54, 53, 53);
    font-size: 14px;  
  
    
}

.back-img {
    margin-right: 3px; 
}


.right{
    flex:2;
}

.nav-bar{
    margin: 20px;
    display: flex;
    justify-content: flex-end;
   
    
}

.nav-item{
    margin: 0 20px;
    text-decoration: none;
    color:rgb(177, 173, 173);
    font-size:16px;
    text-transform: uppercase;
    font-weight: bolder;
}

.black {
    color: #000;
}

.content{
   margin: 60px 100px;
   font-family: "Playfair";
}
.heading{
    display: flex;
    
}


.heading-text {
    font-size: 48px;
    font-weight: 400;

}

.dash {

    width: 85px;
    height: 3px;
    background-color: #000; 
    margin-top: 85px;
    margin-left: 30px;
}

.author {
    margin: 20px 0;
}

.author-name {
    font-weight: 700;
}


.town-details {
    display: flex;
}


.img-details {
    display:flex;
    flex-direction: column;
}

.preview-link{
    position: relative;
}


.preview-img {
    height: 100px;
    width: 150px;
}


.play-img {
    position: absolute;
    top: 40px;
    left: 60px;
    background-color: rgba(247, 243, 243,0.4);
    padding: 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}



.view-imgs {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
   font-size: 12px;
   display: flex;
   align-items: center;
}

.forward-img{
    margin-left:4px;

}

.paragraph {
    margin-left: 35px;
    
   
   
}

