*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(160, 179, 214);
}

.container{
    border-radius: 6px;
    background: #fff;
    height: 330px;
    width: 900px;
    margin: 100px auto;
    box-shadow: 5px 5px 5px 5px rgba(14,21,47, .2);
    
}

.tabs{
    padding: 10 auto;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight :400px;
    display: flex;
    flex:1;

}




a{
    width: 450px;
    height: 300px;
    padding: 20px 40px;
    /* padding: 10px auto; */
    margin: 10px auto;
    border-radius: 4px;
 
}



img {
    height: 70px;
    width: 70px;
    margin-bottom: 20px;
}

.price {
    display: flex;
    justify-content: center;
    /* font-size: 25px; */
    font-weight: bold;
}

h3, .price {
    color: rgb(0, 89, 255);   
}

h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

p{
    color: #A9A9A9;
    font-size: 13px;
    
}

a {
    text-decoration: none;
}


a :hover {
    background: rgb(248, 245, 245);
}


.up{
    font-size: 30px;
}

.down{
    font-size: 15px;
    vertical-align:sub;
    font-size: smaller;
    margin-top:auto;
    word-spacing: 4px;

}